.bass_center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid none;
    width: auto;
    height: 100vh;
}
/* -----------photo */
.for_photo{
    background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    height: 635px;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control_login{
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}
.center_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* -------for form login -------------------- */
.for_input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.for_input1{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
@media (max-width: 768px){
    .for_input, .for_input1{
        border: 1px solid black;
        border-radius: 10px;
        width: 70%;;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .btn{
        border: 1px solid white;
        border-radius: 10px;
        width: 30%;
        background-color: rgb(73, 224, 73);
    }
}
.for_input1:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px 2px gray;
}
.btn{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    background-color: rgb(73, 224, 73);
}
.btn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px 2px gray;
}
body{
    background-color: rgb(0, 100, 0);
    background-image: linear-gradient(90deg , rgb(0, 100, 0) 0% , rgba(0, 0, 0, 0.795) 100%);
    width: auto;
    height: 100%;
}
@media (max-width: 768px){
    .for_photo{
        display: none;
    }
}